.bouton{
    border: none;
    &--on{
        display: flex;
        align-items: center;
        height: $dim-bouton-filtre;
        border-radius: $rayon-filtre;
        color: white;
        &-ingredient{
            background-color: $couleur-ingredient;
        }
        &-appareil{
            background-color: $couleur-appareil;
        }
        &-ustensil{
            background-color: $couleur-ustensil;
        }
    }
    &--off{
        height: $dim-bouton-filtre;
        width: 50px;
        border-top-right-radius: $rayon-filtre;
        &-ingredient{
            background-color: $couleur-ingredient;
        }
        &-appareil{
            background-color: $couleur-appareil;
        }
        &-ustensil{
            background-color: $couleur-ustensil;
        }
    }
}
