.input-recherche{
    border: none;
    background: none;
    @include padding-null;
    @include margin-null;
    outline: none;
    font-size: 18px;
    &--globale{
        height: 69px;
        &::placeholder{
            font-size: 18px;
            @include couleur-placeholder-rech;
        }
    }
    &--ingredient{
        background-color: $couleur-ingredient;
        width: 100%;
        padding: 0 10px 0 10px;
        color: white;
        border-top-left-radius: $rayon-filtre;
        &::placeholder{
            @include couleur-placeholder-filtre;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &--appareil{
        background-color: $couleur-appareil;
        width: 100%;
        padding: 0 10px 0 10px;
        color: white;
        border-top-left-radius: $rayon-filtre;
        &::placeholder{
            @include couleur-placeholder-filtre;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &--ustensil{
        background-color: $couleur-ustensil;
        width: 100%;
        padding: 0 10px 0 10px;
        color: white;
        border-top-left-radius: $rayon-filtre;
        &::placeholder{
            @include couleur-placeholder-filtre;
            font-size: 18px;
            font-weight: 700;
        }
    }
}