#header-logo{
    width: 300px;
}
.logo-toque{
    fill: $couleur-logo;
}
//loupe
.fa-search{ 
    font-size: 32.06px;
}
.fa-chevron-down{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
}
.fa-chevron-up{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
}
//croix fermeture
.fa-times-circle{ 
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 20px;
    margin-left: 13px;
}