#header-logo{
    width: 300px;
}
.fa-search{
    font-size: 50px;
}
.fa-chevron-down{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
}
.fa-chevron-up{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
}