//gestion des marge et padding
@mixin margin-null {
    margin: 0;
}
@mixin padding-null {
    padding: 0;
}
// Couleur
@mixin couleur-placeholder-rech {
    color: $couleur-placeholder-rech;
    opacity: 25%;
}
@mixin couleur-placeholder-filtre {
    color: $couleur-placeholder-filtre;
    opacity: 50%;
}