//Gestion des couleurs
$background-clair: #e7e7e7;
$background-fonce: #c8bebd;
$couleur-ingredient: #3182f7;
$couleur-appareil: #68d9a5;
$couleur-ustensil: #ed6454;
$couleur-txt-rech: #b1b1b1;
// Dimension
$dim-bouton-filtre: 50px;