body{
    padding: 50px 50px 0 50px;
    @include margin-null;
}

header{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.recherche{
    &--globale{
        padding: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr auto;
        background-color: $background-clair;
        border-radius: 10px;
    }
}

.filtre-box{
    display: flex;
    flex-direction: row;
    &__appareil{
        margin: 0 20px 0 20px;
    }
}

.filtre--ingredient-etendu{
    display: none;
}
.checkbox{
    //définir un style par defaut sans case
    .checkbox--ingredient:checked .filtre--ingredient-etendu{
        display: unset;
    }
}
