body{
    padding: 50px 50px 0 50px;
    @include margin-null;
}

header{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

// Barres de recherche
.recherche{
    &--globale{
        padding: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr auto;
        background-color: $background-clair;
        @include radius-filtre;
    }
    &--filtre{
        display: flex;
        flex-direction: row;
        @include radius-filtre;
    }
}
.filtre-box{
    position: absolute;
    z-index: 2;
    &__ingredient{
        background-color: $couleur-ingredient;
        @include radius-filtre;
    }
}

// Filtres developpés
.filtre-developpe{
    @include radius-filtre;
}

// Liste des filtres
.liste-recherche{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    gap: 50px;
    padding: 10px 20px 20px 20px; 
}

// Zone contenant les cartes des recettes
.lorem-class{
    position: relative;
    z-index: 1;
    bottom: -70px;
}
.lorem-class-1{
    position: relative;
    z-index: 1;
    bottom: -70px;
}